<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>iBill - The Best Billing & Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="assets-home/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets-home/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets-home/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="assets-home/css/owl-carousel.css">

    </head>
    
    <body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">iBill</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
                            <li class="scroll-to-section"><a href="/users/consumerslogin">Consumer Login</a></li>
                            <li class="scroll-to-section"><a href="/users/vendorslogin">Vendor Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Welcome to <strong>iBill</strong></h1>
                        <p>iBill is the best billing and expense tracker tool for consumers and vendors</p>
                        <a href="#about" class="main-button-slider">Find Out More</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="assets-home/images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="assets-home/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>Send Invoices Directly to Customers Accounts</h5>
                    </div>
                    <div class="left-text">
                        <p>With iBill you can send invoices to users who are registered with iBill, and those bills will be saved on the cloud forever.</p>
                        <a href="#about2" class="main-button">Signup as Vendor</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5>Manage your expenses on the go!</h5>
                    </div>
                    <p>Get invoices directly into your account, and add your own expenses to track everything.</p>
                    <ul>
                        <li>
                            <img src="assets-home/images/about-icon-01.png" alt="">
                            <div class="text">
                                <h6>Find old bills without any hassle</h6>
                                <p>You can use iBill to store your bills and invoices on the cloud.</p>
                            </div>
                        </li>
                        <li>
                            <img src="assets-home/images/about-icon-02.png" alt="">
                            <div class="text">
                                <h6>Access your bills and invoices from anywhere</h6>
                                <p>You can download and print your invoices from anywhere on this planet.</p>
                            </div>
                        </li>
                        <li>
                            <img src="assets-home/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h6>Recieve all your invoices as a soft copy on E-mail</h6>
                                <p>Get instantly notified for your purchases.</p>

                                <a href="#about2" class="main-button">Signup as Consumer</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="assets-home/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2021 iBill
                
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="assets-home/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets-home/js/popper.js"></script>
    <script src="assets-home/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets-home/js/owl-carousel.js"></script>
    <script src="assets-home/js/scrollreveal.min.js"></script>
    <script src="assets-home/js/waypoints.min.js"></script>
    <script src="assets-home/js/jquery.counterup.min.js"></script>
    <script src="assets-home/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets-home/js/custom.js"></script>

  </body>
</html>